@import '~@/assets/styles/_reset.scss'; // Colors
@import '~@/assets/styles/grid.css';
@import '~@/assets/styles/variables.scss';
:root {
font-size: 62.5%;
}

.main-logo {
  background: url("~@/assets/img/pratyush_logo_onlight.svg") center no-repeat;
  background-size: contain;
}
@media(prefers-color-scheme: dark) {
  .main-logo {
    background: url("~@/assets/img/pratyush_logo_ondark.svg") center no-repeat;
    background-size: contain;
  }
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  width: 100%;
}
.sticky-top {
  position: sticky;
  top: 86px;
}
.sticky-bottom {
  position: sticky;
  bottom: 0px;
}

@font-face {
  font-family: 'ptfont';
  src: url('~@/assets/fonts/ptfont.eot');
  /* IE9 Compat Modes */
  src: url('~@/assets/fonts/ptfont.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('~@/assets/fonts/ptfont.woff') format('woff'),
    /* Modern Browsers */ url('~@/assets/fonts/ptfont.ttf') format('truetype');
  // /* Safari, Android, iOS */
  // url( 'mywebfont.svg#svgFontName') format('svg'))
  // /* Legacy iOS */
}

@font-face {
  font-family: 'gotham_bold';
  src: url('~@/assets/fonts/gotham_bold_regular-webfont.woff2') format('woff2'),
    url('~@/assets/fonts/gotham_bold_regular-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
    url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7lujVj9w.woff2)
      format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'gotham_book';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Book'), url('~@/assets/fonts/gotham_book_regular-webfont.woff') format('woff');
  }

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: 'Source Sans Pro', 'Alegreya Sans', sans-serif;
  color: getColor(baseText);
  background-color: getColor(baseBackground);
  // &::after{
  //   content: var(--theme);
  //   display: none;
  // }
}

a {
  color: $baseRed;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /*reset for mobile browsers */
  font-weight: normal;
  margin: 1.6rem 0 0 0;
}

h1 {
  font-family: 'ptfont', serif;
  font-size: 4.8rem;
  font-weight: bold;
}
h2 {
  font-family: 'ptfont','gotham_bold';
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;
  // &:after {
  //   content: 'h2'
  // }
}
h3 {
  font-size: 1.6rem;
  line-height: 1.5;
  color: getColor(h3Textcolor);
  // &:after {
  //   content: 'h3'
  // }
}
h4 {
  font-family: 'gotham_bold';
  font-size: 1.2rem;
  line-height: 1.5;
  color: getColor(h4Textcolor);
  // &:after {
  //   content: 'h4'
  // }
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
}

@media only screen and (min-width: 768px) {

  h1 {
    font-size: 6rem;
    line-height: 1.25;
  }
  h2 {
    font-size: 2.4rem;
    line-height: 1.5;
  }
  h3 {
    font-size: 2rem;
    line-height: 1.5;
  }
  h4 {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  p {
    font-size: 1.6rem;
    line-height: 1.5;
  }
}

.inline-heading {
  font-weight: bold;
  font-family: 'gotham_bold';
  font-size: 1.4rem;
  text-transform: uppercase;
}

.fading-border {
  margin-bottom: 48px;
  display: block;
  width: 100%;
  height: 2px;      
  background: radial-gradient(ellipse at center, getColor(baseBackgroundHighlight), transparent 70%)
}

.project-name-logo {
  width: 70px;
  margin-right: 20px;
  background-color: transparent;
}
.quote {
  margin-top:16px;
  margin-bottom:16px;
  display: inline-block;
  background-color: getColor(baseBackgroundHighlight);
  padding: 20px;
  position: relative;
  width: 100%;

  &::before {
      content: '';
      width: 30px;
      height: 30px;
      background: url("~@/assets/img/quotes.svg") center no-repeat;
      position: absolute;
      top: -10px;
      left: 7px;
  }
}

.VueCarousel {
  width: 90%;
  margin: auto;
  &.width700 {
      width: 100%;
      max-width: 700px;
  }
  &.width400 {
      width: 100%;
      max-width: 400px;
  }
  .VueCarousel-slide {
    align-self: center;
  }
  .VueCarousel-navigation-button {
    
      color: getColor(baseText) !important;
    
  } 
}

.project-view-button {
  background-color: $footerBackgroundGrey;
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  height: 48px;
  text-align: center;
  & * {
    line-height: 30px;
  }
}
.pt-project-pic {
  width: auto;
  height: 300px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size: contain;
  flex-grow: 1;
  flex-shrink: 1;
  align-self: flex-end;
  min-width: 300px;

  &.vidyoconnect {
    background-image: url("~@/assets/img/project_intros/vidyoconnect_home.png");
  }

  &.eatlas {
    background-image: url("~@/assets/img/project_intros/eatlas_home.png");
  }

  &.rover {
      background-image: url("~@/assets/img/project_intros/rover_home.png");
  }

  &.chelada {
      background-image: url("~@/assets/img/project_intros/chelada_home.png");
  }

  &.presquevu {
      background-image: url("~@/assets/img/project_intros/presquevu_home.png");
  }

  &.dynamo {
      background-image: url("~@/assets/img/project_intros/dynamo_home.png");
  }

  &.slate {
      background-image: url("~@/assets/img/project_intros/slate_home.svg");
      background-position: top;
      max-width: 300px;
  }

  &.flock {
      background-image: url("~@/assets/img/project_intros/eatlas_home.png");
  }

  &.luna {
      background-image: url("~@/assets/img/project_intros/rover_home.png");
  }
}

@media only screen and (max-width: 768px) {
  .pt-project-intro {
      .pt-project-description {
          .pt-project-logo {
              width: 50px;
          }
      }
  }
  .pt-project-pic {        
      height: 250px;
  }    
}

//////// 
.main-content {

  overflow: auto;
  width: 100%;  
  -webkit-overflow-scrolling: touch;
}

.center {
  text-align: center;
  margin: auto;
}
.small {
  font-size: smaller;
  color: #4ecdc4;
}
.quote.middle {
  width: initial;
  margin: auto;
}

.full-width {
  width: 100%;
  height: auto;
  margin: auto;
}
.max-1080 {
  max-width: 1080px;
  margin: auto;
}
.max-700 {
  max-width: 700px;
  margin: auto;
}
.max-500 {
  max-width: 500px;
  margin: auto;
}
.max-400 {
  max-width: 400px;
  margin: auto;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-content {
  width: 90%;
  margin: auto;
  max-width: 1200px;
}

@media only screen and (min-width: 768px) {
  .page-content {
    width: 70%;
  }
}


/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.pt-container-middle {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.container-full {
    width: 100%;
    margin: 0 auto 48px;
    padding: 50px 0;
    background-color: getColor(baseBackgroundHighlight);
    
    .main {
        padding: 0 0 50px 0;
        margin: 0;
        position: relative;
        z-index: 0;
    }
}

.container-full::after,
.pt-container-middle::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}
/* --------------------------------

Main components

-------------------------------- */



.pt-container-middle {
    &:nth-child(2n+1) .pt-project-intro {
        flex-direction: row;
    }

    &:not(:first-child) .pt-project-intro {
        padding-top: 100px;
    }
}
@media only screen and (max-width: 768px) {
    .pt-container-middle:not(:first-child) .pt-project-intro {
        padding-top: 50px;
    }
}


.small-video {
    max-width: 480px;
    margin: auto;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    // padding-top: 25px;
    height: 0;
    text-align: center;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.phone-video-frame {
    display: flex;
    position: relative;
    margin: auto;
    text-align: center;
    height: 500px;
    margin: 50px auto;
    background: url("~@/assets/img/black-iphone7.png") center no-repeat;
    background-size: contain;
    min-width: 245px;

    img {
        padding: 60px 0;
        width: 212px;
        height: inherit;
        margin: auto;
    }



    .video-js.vjs-playing:hover:after {
        content: '';
        background: url("~@/assets/img/pause.svg") center no-repeat;
        background-size: contain;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        pointer-events: none;
    }

    .video-js.vjs-paused:after {
        content: '';
        background: url("~@/assets/img/play.svg") center no-repeat;
        background-size: contain;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        pointer-events: none;
    }
}

.steps3 {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    p {
        text-align: center;
        margin: 0;
    }
}
@media only screen and (max-width: 831px) {
    .steps3 span:not(:last-child) {
        margin-bottom: 70px;
    }
}
img{
    &.phone {
        position: relative;
        width: 245px;
        display: block;
    }

}
.finger {
    width: 100%;
    height: 40px;
    margin: 15px 0 0 0;
    &.one {
        background: url("~@/assets/img/fingers/one_onlight.svg") center no-repeat;
    }
    &.two {
        background: url("~@/assets/img/fingers/two_onlight.svg") center no-repeat;
    }
    &.three {
        background: url("~@/assets/img/fingers/three_onlight.svg") center no-repeat;
    }
}

@media(prefers-color-scheme: dark) {
  .finger {
    &.one {
        background: url("~@/assets/img/fingers/one_ondark.svg") center no-repeat;
    }
    &.two {
        background: url("~@/assets/img/fingers/two_ondark.svg") center no-repeat;
    }
    &.three {
        background: url("~@/assets/img/fingers/three_ondark.svg") center no-repeat;
    }
  }
}
.half-half {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    &.color::after{
        content: '';
        width: 90%;
        height: 60%;
        background: #ffe66d;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        transform: rotate(-3deg);
        z-index: -1;
    }

    .phone-video-frame {
        margin: 50px 0;
    }

    div:first-child {
        max-width: 500px;
    }
}

@media only screen and (max-width: 842px) {
    .half-half.color::after{
        width: 80%;
        height: 80%;
        top: -80px;
    }
}


.next-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    padding-bottom: 20px;

    a {
        text-decoration: initial;
        color: initial;
    }

    > div {
        flex-basis: 50%;
        align-items: start;
        max-width: 460px;
        min-width: 410px;
        padding: 30px;
        &:hover {
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        }

        > img {
            width: 60px;
        }

        > div {
            padding: 0 20px;
            line-height: 1.8em;

            .project-name {
                font-weight: bold;
                padding-bottom: 10px;
            }
        }
    }
}
.bottom-border {
    border-bottom: 1px solid #eeeeee;
    padding: 50px 0px 10px 0px;
}


.one_third {
    width: 30.66%;
    float: left;
    margin-right: 4%;
    margin-bottom: 2%;
    position: relative;
    box-sizing: border-box;
    text-align: center;
}

.two_third {
    float: left;
    width: 65.33%;
    margin-right: 4%;
    box-sizing: border-box;
}

.two_third.last {
    margin-right: 0;
    float: right;
    clear: right;
}
@media only screen and (max-width: 960px)
{
.two_third, .two_third.last, .one_third, .one_third.last {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
    clear: both;
}
}

.align-center {
  align-self: center;
}
.intro {
  .pt-project-logo {
    width: 70px;
    margin-right: 20px;
    background-color: transparent;
  }
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 36px;
  .c1 {
    grid-row: 1;
  }
  .c2 {
    grid-row: 1 / 3;
    align-self: end;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .intro {
  .c1 {
    grid-column: 1 / span 2;
  }
  .c2 {
    grid-column: 2;
  }
  .c3 {
    grid-column: 1;
  }
}
}
@media only screen and (max-width: 768px) {
  .intro {
  .c1 {
    grid-row: 1;
  }
  .c2 {
    grid-row: 2;
  }
  .c3 {
    grid-row: 3;
  }
}
}