// colors
$baseTextBlueBlack: #2C3E51;
$baseGreyblack: #353846;
$baseGreen: #4DCDC3;
$baseWhite: #FFFFFF;
$baseRed: #FF6B6A;
$baseYellow: #FEE66C;
$footerBackgroundGrey: #F2F5F8;
$footerTextGrey: #939393;
$footerLineGrey: #CDCED2;
$contentDividerLine: #EEEEEE;
$logoblue: #00AAF4;
$slate: #44C9F5;
$dynamo: #A4CD3A;
$presquevu: #FD8500;
$chelada: #4356A5;
$eatlas: #4F87DB;
$vidyoconnect: #89C040;
$slantBackground: rgba(0, 188, 212, 0.4);

//light theme
$colors: (
  baseBackground: #FFFFFF,
  baseText: hsl(211, 30%, 25%),
  baseBackgroundHighlight: #f2f5f8,
  baseBackgroundSubdude: #f2f5f8,
  baseBackgrounddarker: #cdd9e4,
  h3Textcolor: $baseRed,
  h4Textcolor: $logoblue,
);
//dark theme
$colors-dark: (
  baseBackground: hsl(211, 30%, 25%),
  baseText: #FFFFFF,
  baseBackgroundHighlight: hsl(211, 30%, 35%),
  baseBackgroundSubdude: hsl(211, 30%, 15%),
  baseBackgrounddarker: hsl(211, 30%, 15%),
  h3Textcolor: $baseYellow,
  h4Textcolor: $slate,
);
//converting scss variable into css variable
:root {
  @each $name, $color in $colors{
      --color-#{$name} : #{$color};
  };
  --theme: 'light';
}

@media(prefers-color-scheme: dark) {
  :root {
    @each $name, $color in $colors-dark{
      --color-#{$name} : #{$color};
    };
    --theme : 'dark';
  }
}

//creating a function to get color instead of using css varible
@function getColor($color-name){
    @return var(--color-#{$color-name});
}

@function getimage($img-name){
  @return var(--color-#{$img-name});
}


